.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  footer {
    padding: 0 2rem;
    margin-top: 5rem;
    text-align: center;
  }
}
