<section class="section">
  <div class="container">
    <h1>Demo page of NgWaveform Angular component</h1>
    <h2>With NgWaveform you can create interactive customisable waveform of any audio file in your Angular application.</h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="default-audio">
      <button (click)="downloadABTopStory()">Download Audioburst top story</button>
    </div>
    <div class="divider">
      or
    </div>
    <form [formGroup]="srcForm" class="src-form" novalidate (ngSubmit)="onSrcFormSubmit()">
      <div class="form-row">
        <input type="url" formControlName="src" placeholder="Type here Url of your mp3 file" />
        <button type="submit">Go!</button>
      </div>
      <div class="error-row" *ngIf="isSrcError">Invalid URL was entered</div>
    </form>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="loader" *ngIf="isAudioQueried && !isLoaded"><p>Loading...</p></div>
    <ng-waveform #waveform *ngIf="isAudioQueried"
      [src]="src"
      [height]="150"
      [useRegion]="useRegion"
      regionBackgroundColor="rgba(255, 255, 255, 0.7)"
      regionStartStickColor="#21f032"
      regionEndStickColor="red"
      regionTextColor="#09417e"
      [withRegionLabels]="true"
      waveColor="#ff11ff"
      (trackLoaded)="onTrackLoaded($event)"
      (rendered)="onTrackRendered($event)"
      (durationChange)="onDurationChange($event)"
      (timeUpdate)="onTimeUpdate($event)"
      (paused)="onPaused()"
      (regionChange)="onRegionChange($event)"
    >
    </ng-waveform>
  </div>
</section>
<section class="section">
  <div class="controls" *ngIf="isLoaded">
    <button (click)="onPlayButtonClick()" *ngIf="!play" class="icon-button">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
      </svg>
    </button>
    <button (click)="onPauseButtonClick()" *ngIf="play" class="icon-button">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
      </svg>
    </button>
  </div>
</section>
<section class="section" *ngIf="isLoaded">
  <div class="container">
    <div class="telemetry">
      <h3>Telemetry</h3>
      <p><span class="label">Time to load track:</span><span class="value">{{trackLoadTime}}</span>ms</p>
      <p><span class="label">Time to render wave:</span><span class="value">{{renderingTime}}</span>ms</p>
      <p><span class="label">Duration:</span><span class="value">{{duration | number: '1.2-2'}}</span>s</p>
      <p><span class="label">Current time:</span><span class="value">{{currentTime?.time | number: '1.2-2'}}</span>s</p>
      <p><span class="label">Progress:</span><span class="value">{{currentTime?.progress | number: '1.2-2'}}</span>%</p>
    </div>
    <div class="region-controls">
      <h3>Region control</h3>
      <div class="form-row">
        <label>
          <input type="checkbox" [formControl]="isRegionCtrl">
          Turn region off
        </label>
      </div>
      <ng-container *ngIf="useRegion">
        <label for="region-start">Start</label>
        <input type="number" id="region-start" min="0" [max]="duration" [formControl]="regionStartCtrl">
        <label for="region-end">End</label>
        <input type="number" id="region-end" min="0" [max]="duration" [formControl]="regionEndCtrl">
      </ng-container>
    </div>
  </div>
</section>
