$width: 800px;
h1, h2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 80%;
}
.section {
  margin-bottom: 2rem;
  .container {
    max-width: $width;
    min-width: $width;
    margin: 0 auto;
  }
}

.default-audio, .divider {
  text-align: center;
  margin: 1rem auto;
  button {
    background: #ff009e;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 7px;
    padding: 16px 12px;
    cursor: pointer;
    font-size: 16px;
  }
}

.src-form {
  min-height: 47px;
  .form-row {
    display: flex;
    input {
      flex: 1 1 auto;
      padding: 6px 10px;
      box-sizing: border-box;
      outline: none;
    }
  }
  .error-row {
    font-size: 13px;
    color: red;
  }
}
.waveform {
  max-width: $width;
  min-width: $width;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #7240e9, #17f327);
}
.controls {
  text-align: center;

  .icon-button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }
}

.label {
  min-width: 180px;
  max-width: 180px;
  font-weight: 600;
  display: inline-block;
}
.value {
  display: inline-block;
  min-width: 100px;
  text-align: right;
  margin-right: 5px;
}
.region-controls {
  .form-row {
    margin-bottom: 1rem;
  }
  label {
    margin-right: 5px;
    font-weight: 600;
  }
  input {
    margin-right: 20px;
    padding: 6px 10px;
    box-sizing: border-box;
    outline: none;
  }
}

